@keyframes App-led-slide {
    from {
      transform: translateX(-80vw)
    }
    to {
      transform: translateX(80vw)
    }
  }

@media (prefers-reduced-motion: no-preference) {
    .ledStringDiv{
        animation: App-led-slide infinite 8s linear;
    }
}

.ledStringDiv{
    pointer-events: none;
}
