@keyframes App-led-slide {
    from {
      transform: translateX(-100vw)
    }
    to {
      transform: translateX(100vw)
    }
  }

  @keyframes App-first-slide {
    from {
      transform: translateX(100vw)
    }
    to {
      transform: translateX(-0.5vw)
    }
  }


@media (prefers-reduced-motion: no-preference) {
    .bottomLedStringDiv{
        animation: App-led-slide infinite 8s linear;
    }

}

.bottomLedStringDiv{
    pointer-events: none;
}

.firstText {
    pointer-events: none;
}