@keyframes App-led-last-slide {
    from {
      transform: translateX(-80vw)
    }
    to {
      transform: translateX(80vw)
    }
  }

@media (prefers-reduced-motion: no-preference) {
    .bottomLedStringDiv{
        animation: App-led-last-slide infinite 8s linear;
    }

}

.bottomLedStringDiv{
    pointer-events: none;
    overflow: hidden;
}

.firstText {
    pointer-events: none;
}